.escritura{
    display: flex;
    width: 100%;
    font-style: italic;
    font-weight: bold;
    background-color: gray;
    padding-top: 10px;
    justify-content: center;
}

.lectura{
    display: flex;
    width: 100%;
    font-style: oblique;
    background-color:  #d3efed ;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    color: green;
}
